<center>
    <div class="container-sm ">
    <div class="jumbotron">
            <h1>  Dr. <%=@doctor.name%> </h1>
            <h3> Specialty: <%=@doctor.specialty%></h3>
            <br>
            <h3> Address:</h3>
            <h3> <%=@doctor.address%></h3>
            <h4> <%=@doctor.city%>, <%=@doctor.state%></h4>
            <h4> <%=@doctor.zipcode%></h4>


        <h4> <%= link_to "Create New Appointment", new_doctor_appointment_path(@doctor) %>  </h4><br>
        <h4> <%= link_to "Select Another Doctor", doctors_path %> </h4>
    </div>
    </div>
</center>