
<h2>  Dr. <%=@doctor.name%> <h2>
<h3> Specialty: <%=@doctor.specialty%>
<h3> Address: <%=@doctor.address%></h3>
<h3> City: <%=@doctor.city%></h3>
<h3> State: <%=@doctor.state%></h3>
<h3> Zipcode: <%=@doctor.zipcode%></h3>


<%= link_to "Create New Appointment", new_doctor_appointment_path(@doctor) %> <br>
<%= link_to "Select Another Doctor", doctors_path %>

<!-- Create New Appointment 
<!-- Look at more doctors (link to index)

