<%= render partial: "layouts/errors", locals: {object: @appointment}  %>

<%= form_for @appointment do |f| %>
    <div class="form-group">
            <%= f.label "Time:", class:"col-sm-2 col-form-label"%>
            <%= f.time_field :time, class:"form-control"%><br>
    </div>
    <div class="form-group">
            <%= f.label "Date:", class:"col-sm-2 col-form-label" %>
            <%= f.date_field :date, min: Date.today, class:"form-control"%><br>
    </div>
    <%= f.hidden_field :doctor_id %>
 
      <%= f.submit "Submit", class:"btn btn-dark"%>
<% end %>