
<h4>Patient Name:  <%=current_user.first_name%> <%=current_user.last_name%></h4> <br>


 <h4> Doctor Name: <%=@appointment.doctor.name%> </h4>
<%= form_for @appointment do |f| %>
    <%= f.label "Date:" %>
    <%= f.date_field :date%><br>
    <%= f.label "Time:" %>
    <%= f.time_field :time %><br>
    <%= f.submit %>
<% end %>