<h1> Appointment Details: </h1> 

<strong>Patient Name:</strong><%=current_user.first_name%> 
<strong>Date: </strong><%= @appointment.date.strftime("%B %e, %Y")%>
<strong>Time: </strong><%= @appointment.time.strftime("%I:%M%p")%> 
<strong>Doctor:</strong><%=@appointment.doctor.name%> (<%=@appointment.doctor.specialty%>)
<strong>Address:</strong> <%=@appointment.doctor.address%>
<br>
<%=@appointment.doctor.city%>, <%=@appointment.doctor.state%> <%=@appointment.doctor.zipcode%> 



