<!DOCTYPE html>
<html>
  <head>
    <title>Doc'It</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <% if logged_in? %>
      <a class="navbar-brand" href="<%= root_path %>"/>Home</a>
      <a class="navbar-brand" href="<%= doctors_path %>"/>View Doctors</a>
      <a class="navbar-brand" <%= link_to "Log Out", logout_path, method: 'delete' %></a>
       <% else%>
      <a class="navbar-brand" href="<%= '/login' %>"/>Sign In</a>
      <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
        <%end%>
        </div>
  </head>

  <body>
    <%= yield %>
     <footer class="branding">
        <small>&copy; 2020 <strong>Doc'it 2.0</strong></small>
      </footer><br>
       <% if logged_in? %>
          <a href="/logout">Log Out</a>
          <%end%>
  </body>
</html>
