<!DOCTYPE html>
<html>
  <head>
    <title>Organize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <div>
   <a class="navbar-brand" href="<%= root_path %>"/>Home</a>
        <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
        <a class="navbar-brand" href="<%= '/login' %>"/>Login</a>
        <a class="navbar-brand" <%= link_to "Log Out", logout_path, method: 'delete' %></a>
  </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
